<div class="flex flex-col gap-3 rounded-lg bg-white px-8 pb-7 pt-5">
  <h1 class="text-4xl">Sign in</h1>
  <app-custom-input
    id="email-input"
    name="email"
    placeholder="Email"
  ></app-custom-input>
  <app-custom-password-input
    name="password"
    placeholder="Password"
    id="password-input"
  ></app-custom-password-input>
  <div>
    <button class="text-xl font-extralight text-primary">
      Forgot password?
    </button>
  </div>
  <button class="rounded-full bg-primary py-2 text-white hover:bg-blue-800">
    Sign in
  </button>
  <app-divider value="or" />
  <button class="rounded-md border border-gray-500 py-2">
    Sign in with Google
  </button>
</div>
