<div
  class="w-100% flex h-fit items-center justify-center {{ bgColor }} {{
    textColor
  }} px-32 py-3 text-secondary flex-col gap-4 md:flex-row md:justify-between"
>
  <a
    class="flex select-none items-center justify-center gap-2 text-5xl font-thin hover:cursor-pointer"
    routerLink="/"
  >
    <img src="../../../assets/logo-frame.svg" alt="logo" class="w-16" />
    MyCard
  </a>
  <div class="flex items-center gap-4 text-xl">
    @if (isLoggedIn) {
      <button
        class="rounded-md bg-primary px-12 py-2 text-2xl text-white hover:bg-blue-800"
        (click)="signOut()"
      >
        Logout
      </button>
    } @else {
      @if (showAuthButtons) {
        <a routerLink="/sign-up" class="hover:text-gray-200">Sign&nbsp;up</a>
        <a
          class="rounded-md bg-primary px-12 py-2 text-2xl text-white hover:bg-blue-800"
          routerLink="/sign-in"
        >
          Sign&nbsp;in
        </a>
      }
    }

    <button class="hover:text-gray-200">EN</button>
  </div>
</div>
