<div
  [class.bg-transparent]="transparentHeader"
  [class.bg-white]="!transparentHeader"
  class="w-100% flex h-fit items-center justify-center {{
    textColor
  }} px-32 py-3 pb-4 text-secondary flex-col gap-4 md:gap-8 md:flex-row md:justify-between"
>
  <app-header-button customStyle="logo" link="/">
    <img
      src="../../../assets/images/logo-frame.svg"
      alt="logo"
      class="size-16"
    />
    <span>MyCard</span>
  </app-header-button>
  <div class="flex items-center gap-3 px-2 text-xl">
    @if (isLoggedIn) {
      <app-header-button link="/analytics">{{
        "components.header.analytics" | translate
      }}</app-header-button>
      <div class="h-7 w-0 border-l border-gray-500 opacity-70"></div>
      <app-header-button link="/">{{
        "components.header.card" | translate
      }}</app-header-button>
      <div class="h-7 w-0 border-l border-gray-500 opacity-70"></div>
      <app-header-button (click)="signOut()">
        {{ "components.header.logout" | translate }}
      </app-header-button>
      <div class="h-7 w-0 border-l border-gray-500 opacity-70"></div>
    } @else {
      @if (showAuthButtons) {
        <app-header-button link="/sign-up">{{
          "components.header.sign-up" | translate
        }}</app-header-button>
        <app-header-button link="/sign-in" customStyle="primary">{{
          "components.header.sign-in" | translate
        }}</app-header-button>
      }
    }
    <button
      class="size-6 cursor-pointer select-none whitespace-nowrap uppercase hover:text-gray-400 active:text-gray-500"
      (click)="handleLanguageToggle()"
    >
      {{ getCurrentLanguage() }}
    </button>
  </div>
</div>
