<div class="flex w-48 flex-col gap-3">
  @if (withPreview) {
    <img
      [src]="fileURL || 'assets/avatar_placeholder.jpg'"
      alt="your avatar"
      class="size-48 cursor-pointer rounded-full object-cover"
      (click)="input.click()"
    />
  }
  <div
    class="w-full cursor-pointer rounded-md bg-primary px-2 py-1 text-center text-white hover:bg-blue-600 active:bg-blue-700"
    (click)="input.click()"
  >
    {{ "forms.card.change-avatar" | translate }}
  </div>
  <input
    type="file"
    name="Avatar"
    id="avatar"
    accept=".jpg,.png"
    hidden
    #input
    (change)="handleChange($event)"
  />
</div>
