<div
  class="flex items-center justify-between gap-2 rounded-md border {{
    borderColor
  }} px-4 py-2"
>
  <input
    class="w-full text-gray-600 focus-visible:outline-none"
    type="{{ inputType }}"
    name="{{ name }}"
    id="{{ inputID }}"
    placeholder="{{ placeholder | translate }}"
    [formControl]="control"
  />
  <span
    class="cursor-pointer select-none text-primary"
    (click)="toggleShown()"
    >{{ toggleButtonText | translate }}</span
  >
</div>
@if (showErrors) {
  <div class="flex flex-col text-red-600">
    @for (error of getErrors(); track $index) {
      <span>{{ error | translate }}</span>
    }
  </div>
}
