<div
  class="flex w-4/5 max-w-xl flex-col items-center gap-1 rounded-md bg-white px-4 py-2 text-secondary shadow-md sm:w-4/5 md:w-2/3 lg:w-1/2"
>
  <div class="flex justify-between">
    <span class="text-2xl">Edit Card</span>
  </div>
  <form
    [formGroup]="cardForm"
    class="flex flex-col gap-2"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col items-center gap-8 overflow-y-auto sm:flex-row">
      <app-custom-file-input
        [fileURL]="card.photoUrl"
        [withPreview]="true"
        [control]="getControl('avatarFile')"
      />
      <div class="flex flex-col gap-2">
        <div>
          <app-divider value="Full&nbsp;Name" />
          <app-custom-input
            name="Full Name"
            [control]="getControl('fullName')"
            id="fullNameInput"
            placeholder="Full Name"
          />
        </div>
        <div>
          <app-divider value="Job&nbsp;Title" />
          <app-custom-input
            name="Job Title"
            [control]="getControl('jobTitle')"
            id="jobTitleInput"
            placeholder="Job Title"
          />
        </div>
        <div>
          <app-divider value="Bio" />
          <app-custom-textarea
            name="Bio"
            [control]="getControl('bio')"
            id="bioInput"
            placeholder="Bio"
          />
        </div>
      </div>
    </div>
    <app-divider value="Socials" />
    <app-card-edit-social [socials]="card.socials" />
    <div class="flex w-full flex-col justify-end gap-2 sm:flex-row">
      <div
        (click)="handleClose()"
        class="rounded-md bg-gray-200 px-2 py-1 hover:bg-gray-300 active:bg-gray-400"
      >
        Cancel
      </div>
      <button
        type="submit"
        class="rounded-md bg-primary px-3 py-1 text-white hover:bg-blue-600 active:bg-blue-700"
      >
        Save
      </button>
    </div>
  </form>
</div>
