<div
  class="relative rounded-full overflow-hidden size-64 flex justify-center items-center {{
    isOwner && 'cursor-pointer'
  }}"
  [attr.title]="isOwner ? 'Click to edit card.' : null"
>
  <img
    src="{{ photoUrl || 'assets/avatar_placeholder.jpg' }}"
    alt="card avatar"
    class="size-full text-center"
  />
  @if (isOwner) {
    <div
      class="absolute top-auto flex size-64 select-none items-center justify-center rounded-full bg-gray-600 bg-opacity-0 text-xl opacity-0 hover:bg-opacity-60 hover:opacity-100"
    >
      <span>{{ "forms.card.edit-card" | translate }}</span>
    </div>
  }
</div>
