<div class="flex flex-col gap-3 rounded-lg bg-white px-8 pb-7 pt-5">
  <h1 class="text-4xl">
    {{ "forms.auth.sign-up-header" | translate }}
  </h1>
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-3"
  >
    <app-custom-input
      id="email-input"
      name="email"
      placeholder="forms.auth.email-input-placeholder"
      [control]="getControl('email')"
    />
    <app-custom-password-input
      name="password"
      placeholder="forms.auth.password-input-placeholder"
      id="password-input"
      [control]="getControl('password')"
    />
    <app-custom-password-input
      name="confirm"
      placeholder="forms.auth.confirm-input-placeholder"
      id="confirm-input"
      [control]="getControl('confirm')"
    />
    @if (errorMessage) {
      <span class="text-lg font-light text-red-500">{{
        errorMessage | translate
      }}</span>
    }
    <app-loading-button [isLoading]="isLoading">
      {{ "forms.auth.sign-up-button" | translate }}
    </app-loading-button>
  </form>
  <app-divider value="forms.auth.divider-text" />
  <div class="flex justify-center">
    <app-google-auth-button />
  </div>
</div>
