<div
  class="flex w-full flex-col items-center px-3 sm:px-10 lg:flex-row xl:px-20"
>
  <div class="flex w-full flex-col items-center gap-5">
    @switch (userState) {
      @case ("editing") {
        <app-card-edit-form
          class="flex w-full justify-center"
          [card]="card"
          (formClosed)="setUserState('default')"
          (cardUpdated)="handleCardUpdate($event)"
        />
      }
      @case ("sharing") {
        <app-card-share (cardClosed)="setUserState('default')" />
      }
      @case ("default") {
        <div
          class="flex flex-col items-center justify-center gap-4 overflow-clip text-center md:flex-row md:gap-10 md:text-start"
        >
          <app-card-avatar
            [photoUrl]="card.photoUrl"
            [isOwner]="isOwner()"
            (click)="isOwner() && setUserState('editing')"
          />
          <div class="flex flex-col">
            <span
              class="max-h-80 max-w-xl overflow-x-hidden overflow-y-hidden text-ellipsis text-6xl"
            >
              {{
                card.fullName || "pages.card.full-name-placeholder" | translate
              }}
            </span>

            <span
              class="max-h-32 max-w-xl overflow-x-hidden overflow-y-hidden text-ellipsis text-3xl font-thin text-gray-300"
            >
              {{
                card.jobTitle || "pages.card.job-title-placeholder" | translate
              }}
            </span>
            <div class="flex w-full justify-center md:justify-start">
              <button
                class="flex items-center gap-1 text-gray-400"
                (click)="setUserState('sharing')"
              >
                <span class="text-xl">{{
                  "pages.card.share" | translate
                }}</span>
                <img
                  src="../../../assets/icons/share-icon.svg"
                  class="size-6"
                />
              </button>
            </div>
          </div>
        </div>
        <div
          class="flex w-full max-w-screen-lg flex-col items-center gap-3 px-5 lg:flex-row lg:items-start"
        >
          <div class="flex w-full flex-col">
            <app-divider
              value="{{ 'pages.card.bio' | translate }}"
              class="text-4xl"
              color="gray-500"
            />
            <span
              class="max-h-80 min-h-10 overflow-auto overflow-y-scroll text-ellipsis whitespace-pre-wrap pr-2 text-2xl font-thin"
            >
              {{ card.bio || "pages.card.bio-placeholder" | translate }}
            </span>
          </div>
          <div class="flex w-2/5 min-w-80 flex-col justify-center gap-4">
            <app-divider
              value="{{ 'pages.card.socials' | translate }}"
              class="text-4xl"
              color="gray-500"
            />
            <ul
              class="flex max-h-60 w-full flex-col items-center gap-1 overflow-y-scroll text-center text-2xl font-thin"
            >
              @for (
                social of card.socials;
                track social.socialName;
                let last = $last
              ) {
                <app-card-social-item class="w-full" [socialItem]="social" />
                @if (!last) {
                  <app-divider color="gray-500" class="w-1/4" />
                }
              } @empty {
                <span>{{ "pages.card.socials-placeholder" | translate }}</span>
              }
            </ul>
            <div class="flex justify-center">
              <button
                class="rounded-sm bg-primary px-3 py-1 text-lg hover:bg-blue-800"
                (click)="handleAddToContactsClick()"
              >
                {{ "pages.card.add-to-contacts" | translate }}
              </button>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
