<div class="w-full text-black">
  <div class="rounded-md bg-white px-5 py-2">
    <div class="flex justify-between pb-1">
      <span class="text-2xl">Share Card</span>
    </div>
    <qrcode
      (qrCodeURL)="onChangeURL($event)"
      [qrdata]="cardURL"
      [width]="256"
      [errorCorrectionLevel]="'M'"
      [margin]="0"
      alt="QR Code"
      imageSrc="./assets/icons/logo-frame.svg"
      [imageWidth]="70"
      [imageHeight]="70"
      [ariaLabel]="'QR Code image with the link to the card.'"
    ></qrcode>
    <div class="flex items-center justify-between py-2">
      <a
        [href]="qrCodeDownloadURL"
        download="qrcode"
        class="rounded-md bg-primary px-3 py-1 text-white hover:bg-blue-800"
        >Download QR</a
      >
      <span>OR</span>
      <button
        (click)="handleCopy()"
        class="w-24 rounded-md bg-primary px-3 py-1 text-white hover:bg-blue-800"
      >
        {{ copyButtonText }}
      </button>
    </div>
    <div class="flex w-full justify-end">
      <button
        (click)="handleClose()"
        class="cursor-pointer rounded-md bg-gray-200 px-2 py-1 hover:bg-gray-300 active:bg-gray-400"
      >
        Back
      </button>
    </div>
  </div>
</div>
